.box{
    width: 280px;
    height: 200px;
    background-color: rgb(235, 4, 4);
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
}
.box .num{
    font-size: 30px;
    font-weight: 600;
   margin-top: 45px;
}
.box button{
    width: 92px;
    height: 48px;
    margin: 15px;
    padding: 10px;
    border: none;
    text-align: center;
    font-weight: 600;
}